.App {
  text-align: center;
}

span{
  margin: 1em;
  color: red;
}

li{
  list-style: none;
  font-size: large;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
