.item{
  text-align: center;
  width: 210px;
  height: 200px;
  border: solid 1px black;
  background-color: gray;
  border-radius: 10%;
}

.item img{
  border-radius: 50%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
  align-items: center;
}